<div class="food-edit">
  <label>Name</label>
  {{input value=name}}

  <label>Kcal</label>
  {{input value=kcal}}

  <label>Prot</label>
  {{input value=prot}}

  <label>Fat</label>
  {{input value=fat}}

  <label>Carbs</label>
  {{input value=carbs}}

  <label>Fiber</label>
  {{input value=fiber}}
  <button {{action "save"}}> Save </button>
</div>
