<div class="food">
  <h3> {{name}} </h3>
  Kcal: {{kcal}}<br>
  Prot: {{prot}}<br>
  Fat: {{fat}}<br>
  Carbs: {{carbs}}<br>
  Fiber: {{fiber}}<br>
  <button {{action "edit"}}>Edit</button>
  <button {{action "delete"}}> Delete </button>
</div>
{{outlet}}
